
<div class="col-xs-6">
<h3>Create new Item</h3>

<%= simple_form_for @pin, html: {multipart: true } do |f| %>
<%= render partial: "form", locals: {f: f} %>
<p><%= f.submit "Make changes" %></p>
<% end %>
</div>